.background {
    -fx-background-color: white;
}

.tree-table-view .tree-table-cell {
    -fx-padding: 10 0 10 0;
}

.dialog-pane {
    -fx-background-color: white;
}

.jfx-snackbar-content {
    -fx-background-color: darkred;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: slategray;
}
